.has-float-label {
  display: block;
  position: relative;
}

.has-float-label > span,
.has-float-label label {
  position: absolute;
  cursor: pointer;
  font-size: 85%;
  opacity: 1;
  transition: all 0.2s;
  top: -0.4625em;
  left: 0.75rem;
  z-index: 1;
  line-height: 1;
}

.has-float-label-lg > span,
.has-float-label-lg label {
  left: 0.85rem;
}

.has-float-label > span::after,
.has-float-label label::after {
  content: " ";
  display: block;
  position: absolute;
  background: $white;
  height: 130%;
  top: -0.2em;
  left: -0.2em;
  right: -0.2em;
  z-index: -1;
  bottom: -0.2em;
}

.has-float-label .form-control::placeholder {
  opacity: 1;
  transition: all 0.2s;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}

// .has-float-label .form-control:placeholder-shown:not(:focus) + *,
// .has-float-label select.form-control.label-floated:not(:focus) + * {
//   font-size: 1rem;
//   opacity: 0.5;
//   top: 1.175rem;
//   transform: translateY(-50%);
// }

// .has-float-label .form-control-lg:placeholder-shown:not(:focus) + * {
//   font-size: 1.25rem;
//   top: 1.4375rem;
// }

.input-group .has-float-label {
  flex-grow: 1;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group .has-float-label .form-control {
  width: 100%;
  border-radius: 0.25rem;
}

.input-group .has-float-label:not(:last-child),
.input-group .has-float-label:not(:last-child) .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}

.input-group .has-float-label:not(:first-child),
.input-group .has-float-label:not(:first-child) .form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

select.form-control {
  appearance: none;
}

.form-check-input[value="false"] + span,
.form-check-input[value=""] + span {
  opacity: 0.5;
}
