.notification-container-top-center {
  position: fixed;
  z-index: 8000;
  transform: translateX(-50%);
  top: 4.5rem;
  left: 50%;
}

.notification-container-bottom-center {
  position: fixed;
  z-index: 8000;
  transform: translateX(-50%);
  margin-bottom: -1.25rem;
  bottom: 1.25rem;
  left: 50%;
}

.notification-container-top-left {
  position: fixed;
  left: 1rem;
  top: 4.5rem;
  z-index: 8000;
}

.notification-container-top-right {
  position: fixed;
  right: 1rem;
  top: 4.5rem;
  z-index: 8000;
}

.notification-container-bottom-left {
  position: fixed;
  left: 1.25rem;
  bottom: 1.25rem;
  z-index: 8000;
  margin-bottom: -1.25rem;
}

.notification-container-bottom-right {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 8000;
  margin-bottom: -1.25rem;
}

.notification-container-mobile-top {
  z-index: 8000;
  position: fixed;
  right: 1.25rem;
  left: 1.25rem;
  top: 4.5rem;
}

.notification-container-mobile-bottom {
  z-index: 8000;
  position: fixed;
  right: 1.25rem;
  left: 1.25rem;
  bottom: 0.3125rem;
}
